.elements {
  position: relative;
  background-color: black !important;
}

.editor {
  float: left;
  position: absolute;
  width: 50%;
  background-color: black;
  margin: 10px;
  margin-block-start: 5px;
  border: 1px solid black;
}

.simulation {
  float: right;
  margin: 5px;
  margin-block-start: 5px;
  width: 48%;
  background-color: rgb(58, 55, 55);
  border: 1px solid black;
}