.wrapper {
  background-color: rgb(177, 137, 78);
}

.editor {
  float: left;
  width: 50%;
  background-color: rgb(255, 194, 154);
  margin: 10px;
  margin-block-start: 5px;
  border: 1px solid black;
}

.simulation {
  float: right;
  margin: 5px;
  margin-block-start: 5px;
  width: 48%;
  background-color: rgb(135, 160, 182);
  border: 1px solid black;
}