.editor {
  float: left;
  position: absolute;
  width: 48%;
  height: 1000px;
  background-color: rgb(184, 180, 180);
  margin-left: 10px;
  margin-block-start: 10px;
  border: 1px solid black;
  z-index: 3;
}

.simulation {
  float: right;
  padding-left: 50%;
  padding-top: 10px;
  padding-bottom: 50%;
  width: 100%;
  height: 1010px;
  position: absolute;
  z-index: 2;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-image: url("./Components/images/space2.jpg");
  background-size: contain;
  width: 200%;
  height: 1500px;
}

.elements {
  position: relative;
  width: 100%;
  height: 100%;
}