/* The whole page */
.wrapper {
  float: left;
  background-color: #400101;
}

/* Holds the blockly editor */
.project-half-1 {
  margin: 20px;
  width: 1000px;
  height: 1180px;
  border: 5px solid black;
  display: inline-block;
  background-color: #F2C0A2;
}

/* Holds the simulation */
.project-half-2 {
  margin: 20px;
  margin-right: 40px;
  width: 1400px;
  height: 900px;
  border: 5px solid black;
  float: right;
  background-color: white;
}

.project-commands {
  border: 5px solid black;
  float: right;
  background-color: #F2C0A2;
  margin: 20px;
  margin-right: 40px;
  width: 1440px;
  height: 250px;
  margin-top: -280px;
}